#goldenColor {
  background-color: #d4af37;
}
#redColor {
  background-color: #7b1113;
}
// ? NavBar
.pNavBar {
  color:black;
  font-size: smaller;
  padding-left: 10px;
}

#navInfo {
  margin: 0 0 0 85px;
  background-color: #d4af37;
  
}

#navBarImg {
  height: 35px;
  margin-top: 10px;
}

#navBarSegment {
  background-color: #d4af37;
  margin: 0 0;
  // padding-bottom: 0;
}

// ? Footer
.pFooter {
  font-size: x-small;
}

// ? Home
.homeImg {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 60vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url("https://static.wixstatic.com/media/027b66_cde0c923527846c2a2f901cce6e2bed5.jpg/v1/fill/w_980,h_653,al_c,q_85,usm_0.66_1.00_0.01/027b66_cde0c923527846c2a2f901cce6e2bed5.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  // align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #d4af37;
  // font-size: 35px;
}

#homeImgSegment {
  margin:0;
  padding:0;
}

#homeAbout {
  margin-top: 0;
  padding: 0 20px 10px 20px;
}

#icon {
margin: 5px 0 0 5px;
}

#homeh {
  max-width: 100px;
  margin: 0;
}

#findBook {
  background: '#d4af37';
  margin-bottom: 0;
}

// ? CarPage
#infoBox {
  max-width: 100px;
  max-height: 110px;
}

#carPageSegment {
margin: 0;
padding: 0;
}

#money {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  }

#formInfo {
  color: #d4af37;
  text-align: justify;
  padding: 10px 36px;
}

#serviceBox {
  max-width: 200px;
}

#h6CarSpec {
margin: 0;
padding:0;
color: #d4af37; 
}

#groupContent {
  display: flex;
  justify-content: center;
}
#servisCard {
  max-height: 100px;
}

//? CarCard
#carCard {
  margin: 15px 0;
  padding: 15px 0;
  max-width: 260px;
  max-height: 475px;
  background-color: black;
}
#iconCard {
  margin: 10px 0 0 5px;
  height: 25px;
  width: 25px;
}

#headerPassengers {
  color: #d4af37;
}

#showMore {
  background-color: #d4af37;
  text-align: center;
  margin-top: 0;
  padding: 7px 0;
}