#navBarSegment {
  background-color: #d4af37;
  padding-bottom: 0;
}
#navBarImg {
  height: 35px;
  margin-top: 10px;
}

.pNavBar {
  color:black;
  font-size: smaller;
  padding-left: 10px;
}

.navInfo {
  margin: 0;
  padding: 0;
}